@media only screen and (max-device-width: 700px) {
/* .menu { width:400px; } */
}

@media screen and (min-width: 320px) {
           body {
           font-size: 80%;
          }
 }

 @media screen and (min-width: 480px) {
            body {
            font-size: 90%;
          }
 }