body {
	
  color: white;
}
a {
  color: #1A8CFF; /* Link original */
}
a:visited { /* Link visitado */
  color: #BB8FCE;
}
a:hover, a:active, a:focus { /* Ao passar o mouse por cima ou manter pressionado */
  color: #B03A2E;
}

/* <link rel="stylesheet" Type="text/css" href="URL or path to css file here">

My path;

<link rel="stylesheet" Type="text/css" href="https://lordhenrydk.github.io\css\links_color.css">

*/